<section>
  <div id="collected_currencies_chart" class="simple_pie_chart" width='300px' height='100px'>
    <table>
      <tr>
        <th>Collected</th>
        <td><%= Currency.collected(current_user).count %></td>
      </tr><tr>
        <th>Not Collected</th>
        <td><%= Currency.not_collected(current_user).count %></td>
      </tr>
    </table>
  </div>

  <h1>Currencies</h1>

  <br/><br/><br/>
  <input type="text" name="filter" id="filter"/>
  <input type="button" name="submit" id="submit_filter" value="Filter"/>
  &nbsp;&nbsp;&nbsp;
  <input type="button" name="check_all" id="check_all" value="Check All"/>
  <input type="button" name="collect" id="collect" value="Collect"/>

  <br/><br/><br/>
  <%= line_chart Currency.collected(current_user).group("strftime('%Y-%m-%d', visitations.created_at)").count %>

  <table>
    <tr>
      <th>Name</th>
      <th>Code</th>
      <th>Collected</th>
      <th></th>
    </tr>
    <tbody id="currencies_table">      
    </tbody>
  </table>
</section>