<section>
  <div id="visited_countries_chart" class="simple_pie_chart" width='300px' height='100px'>
    <table>
      <tr>
        <th>Visited</th>
        <td><%= Country.visited(current_user).count %></td>
      </tr><tr>
        <th>Not Visited</th>
        <td><%= Country.not_visited(current_user).count %></td>
      </tr>
    </table>
  </div>

  <h1>Countries</h1>

  <br/><br/><br/>
  <input type="text" name="filter" id="filter"/>
  <input type="button" name="submit" id="submit_filter" value="Filter"/>
  &nbsp;&nbsp;&nbsp;
  <input type="button" name="check_all" id="check_all" value="Check All"/>
  <input type="button" name="visit" id="visit" value="Visit"/>

  <br/><br/><br/>
  <%= line_chart Country.visited(current_user).group("strftime('%Y-%m-%d', visitations.created_at)").count %>

  <table>
    <tr>
      <th>Name</th>
      <th>Code</th>
      <th>Visited</th>
      <th></th>
      <th></th>
    </tr>
    <tbody  id="countries_table">
    </tbody>
  </table>
</section>